--extra-index-url=https://packages.dea.ga.gov.au
dask==2023.6.0
datacube==1.8
dea-tools==0.2.7
digitalearthau==20220517
fc==1.3.9
geopandas==0.12.2
ipython==8.11.0
LivingEarth-LCCS @ git+https://bitbucket.org/au-eoed/livingearth_lccs.git
netCDF4==1.6.3
numpy==1.23.5
pandas==1.5.3
rasterio==1.3.6
rioxarray==0.13.4
wofs==1.6.6
xarray==2023.2.0
